html,body
{
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .navbar-brand
{
    font-family: 'Press Start 2P';
} */

.jumbotron
{
    padding-top: 5rem;
    background-color: #fcf0e0;
}

#experience
{
    background-color: #fcf0e0;
}

section
{
    padding-top: 5rem;
}

.exp
{
    text-shadow: 0.5px 0.5px #FFA500;
}

